<ul class="nav flex-column fixed-top py-5 mt-5 ">
    <li class="nav-item mt-5">
        <a class="nav-link text-white" routerLink="/movies">Movies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" routerLink="/tvs">Tv</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" routerLink="/posts">Posts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#">About Us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#">Contact us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" routerLink="/movies">Movies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" routerLink="/tvs">Tv</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" routerLink="/posts">Posts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#">About Us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#">Contact us</a>
    </li>
    
</ul>
